body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:70vw; }
img {
  max-width: 100% !important;
}

#main {
    min-width: 100%;
}

#sideView {
    float: right;
    background-color: #ececea;
    display: inline-block;
    height: 100vh;
    width: 30%;
    border-left: 1px solid lightgray;
    box-sizing: border-box;
}

#toggle-buttons {
    height: 50px;
    min-width: 100%;
    top: 65%;
    position: relative;
    overflow: auto;
    text-align: center;
}

#calendar {
    top: 68%;
}

#street-view {
    top: 25%;
    position: relative;
    height: 150px;
}

.toggle-button {
    display: inline-block;
}

.left {
    width: 50%;
    position: relative;
    float: left;
}

.right {
    width: 50%;
    position: relative;
    float: right;
}

.clear {
    clear: both;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: #adbce6;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.d3-tooltip {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background-color: rgba(238, 238, 238, 0.75);
    width: 100px;
    text-align: center;
}

.marker-block-text {
    text-decoration:underline;
    font-size: 13px;
}

#area-chart {
    position: relative;
    top: 25%;
}

#calendar-chart {
    width: 30vw;
    float: left;
    overflow-x: scroll;
    white-space:normal;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

