body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:70vw; }
img {
  max-width: 100% !important;
}

#main {
    min-width: 100%;
    height: 100vh;
}

#sideView {
    float: right;
    background-color: #ececea;
    display: inline-block;
    height: 100vh;
    width: 30%;
    border-left: 1px solid lightgray;
    box-sizing: border-box;
}

#sideViewTitle {
    height: 10%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#sideViewContent {
    height: 90%;
}

#toggle-buttons {
    height: 50px;
    min-width: 100%;
    position: relative;
    overflow: auto;
    text-align: center;
}

#calendar {
}

#street-view {
    position: relative;
    height: 250px;
    padding-bottom: 5px;
}

#area-chart {
    padding-bottom: 20px;
    position: relative;
}

#control-buttons {
}

.toggle-button {
    display: inline-block;
}

.left {
    width: 50%;
    position: relative;
    float: left;
}

.right {
    width: 50%;
    position: relative;
    float: right;
}

.clear {
    clear: both;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: #adbce6;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.d3-tooltip {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background-color: rgba(238, 238, 238, 0.75);
    width: 100px;
    text-align: center;
}

.marker-block-text {
    text-decoration:underline;
    font-size: 13px;
}
