body {
    margin:0;
    padding:0;
    overflow: hidden;
}
#map { position:absolute; top:0; bottom:0; width:70vw; }
img {
  max-width: 100% !important;
}

#instructions {
    margin-left: .67em;
    margin-right: .67em;
    font-family: 'Helvetica Neue', sans-serif;
    color: #685206;
}

#main {
    min-width: 100%;
    height: 100vh;
}

#sideView {
    float: right;
    background-color: #ececea;
    display: inline-block;
    height: 100vh;
    width: 30%;
    border-left: 1px solid lightgray;
    box-sizing: border-box;
}

#sideViewTitle {
    height: 10%;
    text-align: center;
    margin-left: .67em;
    margin-right: .67em;
    margin-top: .67em;
    border-bottom: 1px solid black;
}

#sideViewContent {
    height: 90%;
}

#toggle-buttons {
    height: 50px;
    min-width: 100%;
    position: relative;
    overflow: auto;
    text-align: center;
}

#calendar {
}


#street-view {
    position: relative;
    height: 40%;
    padding-bottom: 3px;
    margin-top: 3px;
}

#area-chart {
    padding-bottom: 20px;
    position: relative;
}

#control-buttons {
}

.instruction-title {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 5px;
    margin: 3px 0 3px;
    padding-top: 35px;
    text-align: center;
}

.instruction-text {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

.title-text {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.toggle-button {
    display: inline-block;
}

.left {
    width: 50%;
    position: relative;
    float: left;
}

.right {
    width: 50%;
    position: relative;
    float: right;
}

.clear {
    clear: both;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: #adbce6;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.d3-tooltip {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    background-color: rgba(238, 238, 238, 0.85);
    width: 200px;
    text-align: center;
}

.marker-block-text {
    text-decoration:underline;
    font-size: 13px;
}
